@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Fira+Code:wght@400&family=Kanit:wght@500&display=swap');

$base-font-family: "Atkinson Hyperlegible", sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;

$title-font-family: "Kanit", sans-serif;

$code-font-family: "Fira Code", monospace;

$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
