@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/assets/fonts/AtkinsonHyperlegible-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Code";
  src: url(/assets/fonts/FiraCode-Regular.ttf) format("truetype");
}


$base-font-family: "Atkinson Hyperlegible", sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;

$title-font-family: "Kanit", sans-serif;

$code-font-family: "Fira Code", monospace;

$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
